* {
  box-sizing: border-box;
}

h1 {
  margin: 100px 0 20px;
  font-size: 25px;
  text-align: center;
}

.chess-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

table {
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}